@{ 
    ViewBag.Title = "Home";
    Layout = "_HomeLayout.cshtml";
}

<body class="homePage">
    <h2>Home</h2>

    <input type="button" class="btn backBtn" value="Log Out" onclick="@("window.location.href='" + @Url.Action("ChooseIdentity", "Login") + "'") ;">

    <div class="homeBtnContainer">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <button class="btn managePuzzleBtn" onclick="@("window.location.href='" + @Url.Action("ManagePuzzleLec", "HomeLec") + "'") ;">Manage<br />Puzzle</button><button class="btn rankingBoardBtn" onclick="@("window.location.href='" + @Url.Action("RankingBoardLec", "HomeLec") + "'") ;">Ranking<br />Board</button>
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <button class="btn discussionBoardBtn" onclick="@("window.location.href='" + @Url.Action("DiscussionBoardLec", "HomeLec") + "'") ;">Discussion<br />Board</button><button class="btn manageClassBtn" onclick="@("window.location.href='" + @Url.Action("ManageClassLec", "HomeLec") + "'") ;">Manage<br />Class</button>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>